<div class="container">
  <div class="row">
    <h3>Welcome to <span>pic-mon</span></h3>
    <p>Pic-mon is a website for the photographers</p>
    <p>If you want to see beautiful photos, you should <%= link_to 'sign up', new_user_registration_path %></p>
  </div>
</div>