// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.homes-top-wrapper {
  width: 80%;
  height: 90vh;
  margin: 0 auto;
}

.homes-top-logo-wrapper {
  margin: 0 auto;
}

.homes-top-logo {
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #D7EEFF;
  -webkit-text-fill-color: white;
}

.homes-top-slider-wrapper {
  margin: 0 auto;
  height: 300px;
  width: 800px;
  overflow: hidden;
}

.homes-top-slider {
  width: 500%;
  position: relative;
  left: 0;
  will-change: transform;
  animation: slider 20s infinite;
}

.homes-top-slide {
  width: 800px;
  height: 300px;
  float: left;
  position: relative;
}

@keyframes slider {
  0% { trasform: translateX(0); }
  20% { transform: translateX(-800px); }
  40% { transform: translateX(-1600px); }
  60% { transform: translateX(-2400px); }
  80% { transform: translateX(-3200px); }
  100% { transform: translateX(0); }
}

.homes-top-links {
  margin: 50px auto;
  text-align: center;
}

.homes-top-link {
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
}

.homes-top-link-login {
  background-color: #66CCCC;
}

.homes-top-link-signup {
  background-color: #33CCFF;
}