// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.homes-top-wrapper {
  width: 80%;
  height: 90vh;
  margin: 0 auto;
}

.homes-top-logo-wrapper {
  margin: 0 auto;
}

.homes-top-logo {
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #D7EEFF;
  -webkit-text-fill-color: white;
}

.homes-top-photos {
  margin: 0 auto;
  height: 300px;
  width: 90%;
}

.homes-top-photo {
  width: 20%;
  height: 100%;
  float: left;
}